<div class="row">
    <div class="nav-bar">
        <ul class="nav-list">
            <li class="list-item mt-2"style="margin:10px">
                <i class="fa fa-bars fa-2x"(click)="show()"></i>
            </li >
            <li class="list-item">
                <a routerLink="/manager/managerprofile" routerLinkActive="active">MyProfile</a>
            </li>
            <li class="list-item">
                <a routerLink="/manager/tasklist" routerLinkActive="active">TaskList</a>
            </li >
            <li class="list-item">
                <a routerLink="/manager/employeelist" routerLinkActive="active">EmployeesList</a>
            </li>
            <li class="list-item">
                <a routerLink="/manager/taskassignment" routerLinkActive="active">TaskAssignment</a>
            </li>
            <button class="btn btn-danger mt-2"(click)="logout()">Logout</button>
        </ul>
    </div>
    </div>
    <router-outlet></router-outlet>

